* {
  font-family: 'Open Sans Variable', sans-serif;
}

footer{
  background-image: url(../src/assets/img/dc-logo-bg.png), url('../src/assets/img/footer-bg.jpg');
  background-size: 700px, cover;
  background-repeat: no-repeat;
  background-position: right, center;
}

.string{
  position: relative;
}

.string::after{
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -15px;
  border-bottom: 5px solid #0282F9;
}

.jumbotron{
  background-image: url(../src/assets/img/jumbotron.jpg);
  height: 50vh;
  background-size: cover;
}